@media (max-width: 767px) {
  .header__burger {
    display: flex;
  }

  .header__nav {
    display: none;
  }
}

@media (max-width: 550px) {
  .testimonial__header {
    align-self: start;
    margin-bottom: 62px;
  }
}

@media (max-width: 440px) {
  .form {
    margin: 0 -5px 0 -5px;
    padding-top: 15px;
    border-radius: 5px;
  }
}