@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
}

/*** ************* ************* header start ************* ************* ***/
.header {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #4d98a3;
  color: #fff;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* header logo */
.header__logo {
  font-size: calc(24px + 1.25vw);
  font-weight: 400;
  font-family: "Cherry Swash", cursive;
}

.header__logo-link {
  color: inherit;
  text-decoration: none;
}

/*header menu*/
.header__burger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.header__menu-icon {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  height: 4px;
  transition: 0.4s;
}

.header__menu-icon:after, .header__menu-icon:before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
  transition: 0.4s;
}

.header__menu-icon:before {
  top: -8px;
}

.header__menu-icon:after {
  top: 8px;
}

.header__nav {
  display: flex;
}

.header__link {
  position: relative;
  font-size: calc(16px + 0.15625vw);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.header__link:not(:last-child) {
  margin-right: 30px;
}

.header__link:not(:last-child):after {
  content: "";
  position: absolute;
  top: 2px;
  right: -15px;
  width: 1px;
  height: 14px;
  background-color: #fff;
  transform: rotate(15deg);
}

.header__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__link:focus:before,
.header__link:hover:before {
  transition-duration: 0.4s;
  transform: scale(1);
  transform-origin: left center;
}

.header__link {
  transition: opacity 0.6s linear;
}

/*** ************* ************* header end ************* ************* ***/
/*** ************* ************* promo start ************* ************* ***/
.promo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo {
  background: url(../img/backgraund.png) #0b0c13 no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.promo__title {
  max-width: 517px;
  margin-bottom: 1.022em;
  padding-top: 2.932em;
  font-size: calc(24px + 1.5625vw);
  text-transform: uppercase;
}

.promo__btn {
  position: relative;
  padding: 12px 45px;
  margin-bottom: 3.766em;
  background-color: transparent;
  font-size: calc(14px + 1.25vw);
  color: #fff;
  border-color: #fff;
  border-radius: 10px;
}

.promo__btn:focus,
.promo__btn:hover {
  color: #11131e;
  background: #fff;
}

.promo__btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: top center;
  transform: scale3d(1, 0, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.promo__btn:after .hover {
  transform: scale3d(1, 1, 1);
  transform-origin: bottom center;
}

.promo__list {
  display: flex;
  justify-content: space-between;
  width: 88px;
  list-style-type: none;
  padding-bottom: 32px;
}

.promo__item {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
}

.promo__item:hover,
.promo__item:focus {
  background-color: #69728c;
}

.promo__item:nth-child(3) {
  background-color: #69728c;
}

/*** ************* ************* promo end ************* ************* ***/
/*** ************* ************* main start ************* ************* ***/
.main {
  padding-bottom: 80px;
  color: #4c505d;
}

.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  max-width: 629px;
  margin-bottom: 1.3em;
  padding-top: 2.833em;
  font-size: calc(20px + 0.78125vw);
}

.main__text {
  max-width: 853px;
  margin-bottom: 70px;
  font-size: calc(12px + 0.15625vw);
}

.main__list-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.main__icon {
  width: 56px;
  height: 56px;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 15px;
}

.main__icon--basket {
  background: url(../img/basket.png) no-repeat center;
}

.main__icon--globe {
  background: url(../img/globe.png) no-repeat center;
}

.main__icon--suitcase {
  background: url(../img/suitcase.png) no-repeat center;
}

/*** ************* ************* main end ************* ************* ***/
/*** ************* ************* testimonial start ************* ************* ***/
.testimonial {
  padding-top: 97px;
  padding-bottom: 94px;
  background-color: #00d089;
  color: #fff;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__header {
  position: relative;
  margin-bottom: 62px;
}

.testimonial__header:before {
  content: "Dhavan";
  position: absolute;
  left: 171px;
  top: 6px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.testimonial__header::after {
  content: "„";
  position: absolute;
  left: 155px;
  top: -28px;
  font-size: 300px;
  line-height: 18px;
  font-weight: bold;
  opacity: 0.7;
}

.testimonial__review {
  font-size: calc(14px + 0.3125vw);
}

/*** ************* ************* testimonial end ************* ************* ***/
/*** ************* ************* contact start ************* ************* ***/
.contact {
  padding-top: 51px;
  padding-bottom: 35px;
  background: url(../img/bg_map.png) no-repeat center;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 431px;
  margin: 0 auto;
  padding-top: 109px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.2);
}

.form__user {
  width: 64%;
  min-width: 290px;
  margin-bottom: 15px;
  padding: 7px 15px;
  font-size: 14px;
  color: #4c505d;
  border: 1px solid #d8d8d8;
}

.form__user:focus {
  outline: none;
}

.form__submit {
  position: relative;
  display: flex;
  width: 67px;
  height: 67px;
  margin-bottom: 45px;
  border: none;
  border-radius: 50%;
  background: #00d089;
}

.form__submit:after,
.form__submit:before {
  content: "";
  position: absolute;
  top: 26px;
  left: 20px;
  display: flex;
  width: 10px;
  height: 26px;
  border: none;
  border-radius: 2px;
  background: #fff;
  transform: rotate(-47deg);
}

.form__submit:before {
  top: 15px;
  left: 36px;
  height: 38px;
  transform: rotate(43deg);
  transform-origin: center;
}

.form__submit:hover {
  background: #fff;
  border: 1px solid #00d089;
}

.form__submit:hover:before,
.form__submit:hover:after {
  background: #00d089;
}

/*** ************* ************* contact end ************* ************* ***/
/*** ************* ************* footer start ************* ************* ***/
.footer {
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: #00d089;
}

.footer__copyright {
  font-size: calc(14px + 0.3125vw);
  color: #fff;
  text-transform: uppercase;
}

/*** ************* ************* footer end ************* ************* ***/